In [1]:
# Install the Kaggle package to interact with the Kaggle API

In [2]:
pip install kaggle

Requirement already satisfied: kaggle in c:\anaa\lib\site-packages (1.6.17)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: six>=1.10 in c:\anaa\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\anaa\lib\site-packages (from kaggle) (2024.6.2)
Requirement already satisfied: python-dateutil in c:\anaa\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\anaa\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\anaa\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\anaa\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\anaa\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\anaa\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\anaa\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\anaa\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\anaa\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\anaa\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\anaa\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\anaa\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [ ]:
# Download the 'orders.csv' file from the specified Kaggle dataset

In [3]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
# Extract the Downloaded ZIP File

In [4]:
from zipfile import ZipFile
with ZipFile(r'C:\Users\91904\orders.csv.zip','r')as zip_ref:
    zip_ref.extractall()
    zip_ref.close()

In [20]:
# Load Data into a DataFrame
import pandas as pd
# Read the CSV file into a pandas DataFrame
df=pd.read_csv(r'C:\Users\91904\orders.csv')
# Display informtion about orders.csv
print(df.info())
# Display the first 10 rows of the DataFrame
print(df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB
None
   Order Id  Order Date       Ship Mode    Segment        Country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States
5         6  2022-03-13   Not Available   Consumer  United States
6         7  2022-12-28  Standard Class   Consumer  United States
7         8  2022-01-25  Standard Class   Consumer  United States
8         9  2023-03-23   Not Available   Consumer  United States
9        10  2023-05-16  Standard Class   Consumer  United States

              City       State  Postal Code Region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies
5      Los Angeles  California        90032   West        Furniture
6      Los Angeles  California        90032   West  Office Supplies
7      Los Angeles  California        90032   West       Technology
8      Los Angeles  California        90032   West  Office Supplies
9      Los Angeles  California        90032   West  Office Supplies

  Sub Category       Product Id  cost price  List Price  Quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2
5  Furnishings  FUR-FU-10001487          50          50         7
6          Art  OFF-AR-10002833          10          10         4
7       Phones  TEC-PH-10002275         860         910         6
8      Binders  OFF-BI-10003910          20          20         3
9   Appliances  OFF-AP-10002892          90         110         5

   Discount Percent
0                 2
1                 3
2                 5
3                 2
4                 5
5                 3
6                 3
7                 5
8                 2
9                 3

In [21]:
# Assign proper column names for dataframe
df.columns=['order_id','order_date','ship_mode','segment','country','city','state','postal_code','region','category','sub_category','product_id','cost_price','list_price','quantity','discount_percent']

In [22]:
# convert proper data type
import numpy as np
# Convert 'order_date' column to datetime format
df['order_date']=pd.to_datetime(df['order_date'])
pd.set_option('float_format', '{:.2f}'.format)
# Convert 'cost_price' column to float data type with two decimal places format
df['cost_price']=df['cost_price'].astype(float)
# Convert 'list_price' column to float data type with two decimal places format
df['list_price']=df['list_price'].astype(float)
# Convert 'quantity' column to float data type with two decimal places format
df['quantity']=df['quantity'].astype(float)
# Convert 'discount_percent' column to float data type with two decimal places format
df['discount_percent']=df['discount_percent'].astype(float)

In [23]:
# Data cleaning:
for col in df.columns:
        if df[col].dtype=='int64':
            # Assign 0 to integer null value
            df[col]=df[col].fillna(0)
        elif df[col].dtype=='object':
            modee=df[col].mode()[0]
            # Assign mode to object null value
            df[col]=df[col].fillna(modee)
            # Remove unwanted space in object column
            df[col]=df[col].str.strip()

In [24]:
# Feature Engineering
# Calculate discount amount 
df['discount']=(df['list_price']*df['discount_percent'])/100
# Calculate sale price after discount
df['sale_price']=df['list_price']-df['discount']
# calculate profit
df['profit']=df['sale_price']-df['cost_price']

In [25]:
# checking
print(df.info())
print(df.head(10))
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9994 non-null   int64
 1   order_date        9994 non-null   datetime64[ns]
 2   ship_mode         9994 non-null   object
 3   segment           9994 non-null   object
 4   country           9994 non-null   object
 5   city              9994 non-null   object
 6   state             9994 non-null   object
 7   postal_code       9994 non-null   int64
 8   region            9994 non-null   object
 9   category          9994 non-null   object
 10  sub_category      9994 non-null   object
 11  product_id        9994 non-null   object
 12  cost_price        9994 non-null   float64
 13  list_price        9994 non-null   float64
 14  quantity          9994 non-null   float64
 15  discount_percent  9994 non-null   float64
 16  discount          9994 non-null   float64
 17  sale_price        9994 non-null   float64
 18  profit            9994 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(9)
memory usage: 1.4+ MB
None
   order_id order_date       ship_mode    segment        country  \
0         1 2023-03-01    Second Class   Consumer  United States
1         2 2023-08-15    Second Class   Consumer  United States
2         3 2023-01-10    Second Class  Corporate  United States
3         4 2022-06-18  Standard Class   Consumer  United States
4         5 2022-07-13  Standard Class   Consumer  United States
5         6 2022-03-13   Not Available   Consumer  United States
6         7 2022-12-28  Standard Class   Consumer  United States
7         8 2022-01-25  Standard Class   Consumer  United States
8         9 2023-03-23   Not Available   Consumer  United States
9        10 2023-05-16  Standard Class   Consumer  United States

              city       state  postal_code region         category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies
5      Los Angeles  California        90032   West        Furniture
6      Los Angeles  California        90032   West  Office Supplies
7      Los Angeles  California        90032   West       Technology
8      Los Angeles  California        90032   West  Office Supplies
9      Los Angeles  California        90032   West  Office Supplies

  sub_category       product_id  cost_price  list_price  quantity  \
0    Bookcases  FUR-BO-10001798      240.00      260.00      2.00
1       Chairs  FUR-CH-10000454      600.00      730.00      3.00
2       Labels  OFF-LA-10000240       10.00       10.00      2.00
3       Tables  FUR-TA-10000577      780.00      960.00      5.00
4      Storage  OFF-ST-10000760       20.00       20.00      2.00
5  Furnishings  FUR-FU-10001487       50.00       50.00      7.00
6          Art  OFF-AR-10002833       10.00       10.00      4.00
7       Phones  TEC-PH-10002275      860.00      910.00      6.00
8      Binders  OFF-BI-10003910       20.00       20.00      3.00
9   Appliances  OFF-AP-10002892       90.00      110.00      5.00

   discount_percent  discount  sale_price  profit
0              2.00      5.20      254.80   14.80
1              3.00     21.90      708.10  108.10
2              5.00      0.50        9.50   -0.50
3              2.00     19.20      940.80  160.80
4              5.00      1.00       19.00   -1.00
5              3.00      1.50       48.50   -1.50
6              3.00      0.30        9.70   -0.30
7              5.00     45.50      864.50    4.50
8              2.00      0.40       19.60   -0.40
9              3.00      3.30      106.70   16.70
order_id            0
order_date          0
ship_mode           0
segment             0
country             0
city                0
state               0
postal_code         0
region              0
category            0
sub_category        0
product_id          0
cost_price          0
list_price          0
quantity            0
discount_percent    0
discount            0
sale_price          0
profit              0
dtype: int64

In [26]:
# Split data frame into two data frame
# Contains all rows from order_id column to sub_category column
df1=df.loc[:,'order_id':'sub_category']
print(df1)

      order_id order_date       ship_mode    segment        country  \
0            1 2023-03-01    Second Class   Consumer  United States
1            2 2023-08-15    Second Class   Consumer  United States
2            3 2023-01-10    Second Class  Corporate  United States
3            4 2022-06-18  Standard Class   Consumer  United States
4            5 2022-07-13  Standard Class   Consumer  United States
...        ...        ...             ...        ...            ...
9989      9990 2023-02-18    Second Class   Consumer  United States
9990      9991 2023-03-17  Standard Class   Consumer  United States
9991      9992 2022-08-07  Standard Class   Consumer  United States
9992      9993 2022-11-19  Standard Class   Consumer  United States
9993      9994 2022-07-17    Second Class   Consumer  United States

                 city       state  postal_code region         category  \
0           Henderson    Kentucky        42420  South        Furniture
1           Henderson    Kentucky        42420  South        Furniture
2         Los Angeles  California        90036   West  Office Supplies
3     Fort Lauderdale     Florida        33311  South        Furniture
4     Fort Lauderdale     Florida        33311  South  Office Supplies
...               ...         ...          ...    ...              ...
9989            Miami     Florida        33180  South        Furniture
9990       Costa Mesa  California        92627   West        Furniture
9991       Costa Mesa  California        92627   West       Technology
9992       Costa Mesa  California        92627   West  Office Supplies
9993      Westminster  California        92683   West  Office Supplies

     sub_category
0       Bookcases
1          Chairs
2          Labels
3          Tables
4         Storage
...           ...
9989  Furnishings
9990  Furnishings
9991       Phones
9992        Paper
9993   Appliances

[9994 rows x 11 columns]

In [27]:
df2=df.loc[:,['order_id','product_id','cost_price','list_price','quantity','discount_percent','discount','sale_price','profit']]
print(df2)

      order_id       product_id  cost_price  list_price  quantity  \
0            1  FUR-BO-10001798      240.00      260.00      2.00
1            2  FUR-CH-10000454      600.00      730.00      3.00
2            3  OFF-LA-10000240       10.00       10.00      2.00
3            4  FUR-TA-10000577      780.00      960.00      5.00
4            5  OFF-ST-10000760       20.00       20.00      2.00
...        ...              ...         ...         ...       ...
9989      9990  FUR-FU-10001889       30.00       30.00      3.00
9990      9991  FUR-FU-10000747       70.00       90.00      2.00
9991      9992  TEC-PH-10003645      220.00      260.00      2.00
9992      9993  OFF-PA-10004041       30.00       30.00      4.00
9993      9994  OFF-AP-10002684      210.00      240.00      2.00

      discount_percent  discount  sale_price  profit
0                 2.00      5.20      254.80   14.80
1                 3.00     21.90      708.10  108.10
2                 5.00      0.50        9.50   -0.50
3                 2.00     19.20      940.80  160.80
4                 5.00      1.00       19.00   -1.00
...                ...       ...         ...     ...
9989              4.00      1.20       28.80   -1.20
9990              4.00      3.60       86.40   16.40
9991              2.00      5.20      254.80   34.80
9992              3.00      0.90       29.10   -0.90
9993              3.00      7.20      232.80   22.80

[9994 rows x 9 columns]

In [4]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\anaa\lib\site-packages (9.0.0)

In [9]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\anaa\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\anaa\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaa\lib\site-packages (from sqlalchemy) (3.0.1)

In [10]:
pip install pymysql

Requirement already satisfied: pymysql in c:\anaa\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

In [29]:
# Load Data into SQL Database
import mysql.connector
import sqlalchemy
from sqlalchemy import create_engine
# Database connection details
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "jeya",
    auth_plugin='mysql_native_password'

)

con = connection.cursor()
con.execute("CREATE DATABASE retailorder")

connection.commit()
con.execute('use retailorder')
host = "localhost"
user = "root"
password = "jeya"
port = 3306
database_ip='127.0.0.1'
database = "retailorder"
# Create a SQLAlchemy engine
my_conn = create_engine('mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(user,password,host,port,database))

table_name = "order_data"
# Load the DataFrame into the SQL database table 'order_data'
df1.to_sql(table_name,my_conn,if_exists="replace",index=False) #['fail,replace,append']
print("successfully inserted in order_data")
table_name1='product_data'
# Load the DataFrame into the SQL database table 'product_data'
df2.to_sql(table_name1,my_conn,if_exists="replace",index=False) #['fail,replace,append']
print("successfully inserted in product_data")
# Assign order_id as primary key in order_data table
con.execute('alter table order_data add primary key(order_id)')
connection.commit()
# Assign order_id as foreign key in product_data table
con.execute('alter table product_data add foreign key(order_id) references order_data(order_id)')
connection.commit()
con.close()

successfully inserted in order_data
successfully inserted in product_data

True